body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-rap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: keep-all;
}

.orange {
  color: #df691a;
  font-weight: bold;
  font-size: 17px;
}

.orange-lite {
  color: #df691a;
}

.white {
  color: white;
}

.choices__list {
  color: black;
}

.choices__list--multiple .choices__item {
    background-color: #df691a !important;
    border: 1px solid #df691a !important;
}

.question {
  font-size: 20px;
  width: 100%;
  border: none;
  overflow-y: scroll;
  height: 100px;
  padding: 10px;
}

.lecture {
  font-size: 18px;
  width: 100%;
  border: none;
  padding: 10px;
  overflow-y: scroll;
  height: 400px;
}

.metadata {
}

.save-btn {
  float: right;
  margin-right: 15px;
}

.form-metadata {
  margin-top: 20px;
  margin-left: 15px;
}

input[type=text] {
  word-wrap: break-word;
  word-break: break-all;
}

.list-group-item {
  border: 1px solid gray !important;
}

